.userighttop{
	margin-top: 40px;
}
.loginfooter{
	position: fixed;
	left: 0;
	bottom: 0;
}
.footer{
	/* position: fixed;
	left: 0;
	bottom: 0; */
	background: #2E2E2E;
	height: 32px;
	width: 100%;
	text-align: center;
	line-height: 32px;
	font-size: 12px;
	color: #cacbcd;
    position: fixed;
    bottom: 0;
}
.container{
	position: relative;
	width: 1000px;
	margin: 0 auto 32px;
}
.mt30{
	margin-top: 30px;
}
.mr20{
	margin-right: 20px;
}
.mr50{
	margin-right: 50px;
}
.ml30{
	margin-left: 30px;
}
.ml20{
	margin-left: 20px;
}
.mt50{
	margin-top: 50px;
}
.mb150{
	margin-bottom: 150px;
}
body{
	background: #f2f2f3;
}
.content{
	position: relative;
	padding: 0 25px 30px;
	width: 950px;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
	font-size: 14px;
}
.text-r{
	text-align: right;
}
/*header*/
.header{
	position: relative;
	z-index: 999;
	height: 110px;
	background: #00b9bb;
	width: 100%;
	min-width: 1000px;
	font-size: 14px;
	color: #fff;
}
.logo{
	margin-top: 10px;
}
.header-top{
	height: 64px;
	background: #fff;
}
.header-top .fr a{
	padding-left: 25px;
	display: inline-block;
	height: 64px;
	line-height: 64px;
	font-size: 14px;
	color: #666;
	background: url(../images/header_nic.png) no-repeat  0 0;
}
.header-top a.admin{
	background-position: 0 23px;
}
.header-top a.quit{
	background-position: 0 -69px;
}
.header-top a.help{
	background-position: 0 -23px;
}
.header-top a:hover.quit{
	background-position: 0 -204px;
}
.header-top a:hover.admin{
	background-position: 0 -112px;
}
.header-top a:hover.help{
	background-position: 0 -158px;
}
.header-top a:hover{
	color: #00b9bb;
}
.header-bottom{
	padding-top: 5px;
	height: 42px;
}
.nav>li{
	position: relative;
	float: left;
}
.nav>li>a{
	display: inline-block;
	height: 41px;
	padding: 0 25px;
	line-height: 41px;
	color: #fff;
	font-size: 16px;
	text-align: center;
}
.sub-nav{
	display: none;
	position: absolute;
	left: -1px;
	top: 42px;
	background: #fff;
	width: 100%;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
}
.sub-nav li{
	position: relative;
	padding: 5px 10px;
}
.sub-nav a{
	display: block;
	text-align: center;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	color: #333;
}
.sub-nav a:first-child{
	border-bottom: 1px solid #eeeeee;
}
.nav>li:hover>a,
.nav>li.active>a{
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #00b9bb;
}
.nav>li:hover .sub-nav{
	display: block;
}
.sub-nav a:hover{
	color: #00b9bb;
}
.sub-nav li em{
	position: absolute;
	left: 50%;
	top: -6px;
	background: url(../images/top.png) no-repeat 0 0;
	width: 12px;
	height: 10px;
	margin-left: -6px;
}
/*header end*/

/*按钮*/
.btn{
	display: inline-block;
	width: 110px;
	height: 36px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	line-height: 36px;
	text-align: center;
	color: #fff;
}
.btn-green{
	background: #00b9bb;
}
.btn-green:hover{
	background: rgba(0,185,187,.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C800b9bb,endColorstr=#C800b9bb);
}
.btn-org{
	background: #ff9517;
}
.btn-org:hover{
	background: rgba(255,149,23,.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8ff9517,endColorstr=#C8ff9517);
}
.btn-white{
	border: 1px solid #d4d4d4;
	height: 34px;
	color: #3a3a3a;
	line-height: 34px;
}
.btn-gary{
	width: 138px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #d3d2d2;
	background: #f7f7f7;
	color: #333;
}
.btn-gary:hover,
.btn-gary.active{
	border-color: #00b9bb;
	background: #f1ffff;
}


/*表格*/
.manage-table{
	width: 100%;
	border: 1px solid #e6e6e6;
}
.manage-table th{
	height: 46px;
	background: #f6f6f6;
	text-align: center;
	color: #333;
}
.manage-table th,
.manage-table td{
	border-left: 1px solid #e6e6e6;
}
.manage-table tr th:first-child,
.manage-table tr td:first-child{
	border-left: 0;
}
.manage-table tbody tr:nth-child(odd) td{
	background: #fbfbfb;
}
.manage-table tbody td{
	border-bottom: 1px solid #e6e6e6;
}
.manage-table td{
	padding: 10px;
	color: #3a3a3a;
	font-size: 12px;
	text-align: center;
}
.manage-table td a:not(.nopic){
	display: inline-block;
	padding-left: 25px;
	height: 30px;
	background: url(../images/manage_s.png) no-repeat 0 0;
	line-height: 30px;
	color: #3a3a3a;
}
.text-l,
.manage-table td .text-l{
	text-align: left;
}
.manage-table td a.preview{
	background-position: 0 10px;
}
.manage-table td a.modified{
	background-position: 0 -22px;
}
.manage-table td a.release{
	background-position: 0 -54px;
}
.manage-table td a.recall{
	background-position: 0 -87px;
}
.manage-table td a.del{
	background-position: 0 -120px;
}
.manage-table td a.view{
	background-position: 0 -384px;
}
.manage-table td a.edit{
	background-position: 0 -418px;
}
.manage-table td a.new-pro{
	background-position: 0 -525px;
}
.manage-table td a.end-pro{
	background-position: 0 -490px;
}
.manage-table td a.export{
	background-position: 0 -562px;
}
.manage-table td a:hover{
	color: #00b9bb;
}
.manage-table td a.dis,
.manage-table td a.dis:hover{
	cursor: default;
	color: #b5b5b5;
}
.manage-table td a.preview.dis{
	background-position: 0 -152px;
}
.manage-table td a.modified.dis{
	background-position: 0 -184px;
}
.manage-table td a.release.dis{
	background-position: 0 -216px;
}
.manage-table td a.recall.dis{
	background-position: 0 -249px;
}
.manage-table td a.del.dis{
	background-position: 0 -282px;
}
.manage-table td a.view.dis{
	background-position: 0 -598px;
}
.manage-table td a.edit.dis{
	background-position: 0 -632px;
}
.manage-table td a.new-pro.dis{
	background-position: 0 -739px;
}
.manage-table td a.end-pro.dis{
	background-position: 0 -704px;
}
.manage-table td a.export.dis{
	background-position: 0 -776px;
}
.even-bg td{
	background: #f6f6f6;
}
.page-box-li ul li {
	float: left;
	margin-right: 5px;
}
.page-box-li ul li a, 
.page-box-li ul li span {
	background: #FFF;
	border: 1px solid #dcdcdc;
	color: #717171;
	font-size: 12px;
	cursor: pointer;
	display: block;
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
}
.page-box-li ul li span:hover, 
.page-box-li ul li.active span, 
.page-box-li ul li.hover span, 
.page-box-li ul li:active span {
	border: 1px solid #72d5d6;
	color: #72d5d6;
}

.page-box-li a {
	float: left;
	margin-right: 5px;
}
.page-box-li a{
	background: #FFF;
	border: 1px solid #dcdcdc;
	color: #717171;
	font-size: 12px;
	cursor: pointer;
	display: block;
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
}
.page-box-li a:hover,
.page-box-li .active {
	border: 1px solid #72d5d6;
	color: #72d5d6;
}
.manage-page div.fl label{
	display: inline-block;
	line-height: 28px;
	color: #3a3a3a;
}
.manage-page div.fl label span{
	color: #72d5d6;
}
.relative{
	position: relative;
}
.absolute {
    position: absolute;
}
.xq_but{width: 56px;
	height:36px;
	color: black;
	background: white;
}
.xq_but:hover{background: #f6f6f6;}
.ta_ble_div{
	display: inline-block;
	margin-left: 35px;
}
.ta_ble_div .option-number{
	width: 30px;
}
