<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.edu.mapper.SchoolRecorderMapper">
    <insert id = "saveRecorderInfo" parameterType = "com.ly.edu.domain.SchoolRecorder">
        INSERT INTO t_school_record
        (id, school_id, name, recorder, reviewer, contac_info, exam_room, year, creator_id, create_time, updater_id, update_time)
        VALUES
        (#{id}, #{school_id}, #{name}, #{recorder}, #{reviewer}, #{contac_info}, #{exam_room}, #{year}, #{creator_id}, now(), #{updater_id}, now())
    </insert>

    <select id="checkRecorderInfo" parameterType="com.ly.edu.domain.SchoolRecorder" resultType="com.ly.edu.domain.SchoolRecorder">
        SELECT * FROM t_school_record t WHERE t.school_id = #{school_id} AND t.exam_room = #{exam_room}
    </select>

    <update id="updateRecorderInfo" parameterType="com.ly.edu.domain.SchoolRecorder">
        UPDATE t_school_record t SET t.recorder = #{recorder}, t.reviewer = #{reviewer}, t.contac_info = #{contac_info}, t.updater_id = #{updater_id}, update_time = now()
        WHERE t.school_id = #{school_id} AND t.exam_room = #{exam_room}
    </update>

    <select id="getRecoderInfo" resultType="com.ly.edu.domain.SchoolRecorder">
        SELECT * FROM t_school_record WHERE school_id = #{schoolCode} AND exam_room = #{exam_room}
    </select>

</mapper>