<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.edu.mapper.SportResultMapper">
	<select id="getSportInfo" resultType="com.ly.edu.dto.SportResultDTO">
        SELECT st.*, stu.barcode AS barcode, stu.student_name AS stuName, stu.sex AS sex, stu.className AS className, stu.year AS inputYear
        FROM t_sport_result st
        LEFT JOIN t_student stu ON st.student_id = stu.id
        WHERE stu.exam_room = #{examRoom}
        <if test="schoolCode != null" >
            AND stu.school_code = #{schoolCode}
        </if>
        <if test="countryCode != null" >
            AND stu.country_code = #{countryCode}
        </if>
        <if test="provinceCode != null" >
            AND stu.province_code = #{provinceCode}
        </if>
        <if test="projectId != null" >
            AND stu.project_id = #{projectId}
        </if>
        ORDER BY stu.barcode
    </select>

    <insert id="saveSportInfo" parameterType="java.util.List">
        INSERT INTO t_sport_result
            (id, student_id, is_empty, height, weight, power_first, power_second, left_eye, right_eye, breath_first,
            breath_second, fifty_meter, jump_first, jump_second, jump_third, fifth_meter, creator_id, create_time,
            updater_id, update_time, year, status)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.student_id}, #{item.is_empty}, #{item.height}, #{item.weight}, #{item.power_first},
             #{item.power_second}, #{item.left_eye}, #{item.right_eye}, #{item.breath_first}, #{item.breath_second},
             #{item.fifty_meter}, #{item.jump_first}, #{item.jump_second}, #{item.jump_third}, #{item.fifth_meter},
             #{item.creator_id}, now(), #{item.updater_id}, now(), #{item.year}, 1)
        </foreach>
    </insert>

    <select id="getProjectIdByYear" resultType="java.lang.String">
        SELECT DISTINCT v.project_id FROM v_student v WHERE v.year = #{year}
    </select>
    
    <select id="checkIsEnter" resultType="com.ly.edu.dto.SportResultDTO">
        SELECT * FROM t_sport_result WHERE student_id = #{studentId}
    </select>

    <insert id="realTimeSave" parameterType="java.util.List">
        INSERT INTO t_sport_result
        (id, student_id, is_empty, height, weight, power_first, power_second, left_eye, right_eye, breath_first,
        breath_second, fifty_meter, jump_first, jump_second, jump_third, fifth_meter, creator_id, create_time,
        updater_id, update_time, year, status)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.student_id}, #{item.is_empty}, #{item.height}, #{item.weight}, #{item.power_first},
            #{item.power_second}, #{item.left_eye}, #{item.right_eye}, #{item.breath_first}, #{item.breath_second},
            #{item.fifty_meter}, #{item.jump_first}, #{item.jump_second}, #{item.jump_third}, #{item.fifth_meter},
            #{item.creator_id}, now(), #{item.updater_id}, now(), #{item.year}, 2)
        </foreach>
    </insert>

    <update id="realTimeUpdate" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            SET
            is_empty = #{item.is_empty}, height = #{item.height}, weight = #{item.weight}, power_first = #{item.power_first},
            power_second = #{item.power_second}, left_eye = #{item.left_eye}, right_eye = #{item.right_eye}, breath_first = #{item.breath_first},
            breath_second = #{item.breath_second}, fifty_meter = #{item.fifty_meter}, jump_first = #{item.jump_first}, jump_second = #{item.jump_second},
            jump_third = #{item.jump_third}, fifth_meter = #{item.fifth_meter}, creator_id = #{item.creator_id}, create_time = now(), updater_id = #{item.updater_id},
            update_time = now(), year = #{item.year}, status = 2
            WHERE
            student_id = #{item.student_id}
        </foreach>
    </update>

    <update id="updateSportInfo" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            SET
            is_empty = #{item.is_empty}, height = #{item.height}, weight = #{item.weight}, power_first = #{item.power_first},
            power_second = #{item.power_second}, left_eye = #{item.left_eye}, right_eye = #{item.right_eye}, breath_first = #{item.breath_first},
            breath_second = #{item.breath_second}, fifty_meter = #{item.fifty_meter}, jump_first = #{item.jump_first}, jump_second = #{item.jump_second},
            jump_third = #{item.jump_third}, fifth_meter = #{item.fifth_meter}, creator_id = #{item.creator_id}, create_time = now(), updater_id = #{item.updater_id},
            update_time = now(), year = #{item.year}, status = 1
            WHERE
            student_id = #{item.student_id}
        </foreach>
    </update>

    <update id="updateHeightMissCol" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            <trim prefix="set" suffixOverrides=",">
                height=#{item.height},
                creator_id = #{item.creator_id},
                is_empty = #{item.is_empty},
                create_time = now(),
                updater_id = #{item.updater_id},
                update_time = now(),
                year = #{item.year},
                status = 2
            </trim>
            WHERE student_id = #{item.student_id}
        </foreach>
    </update>

    <update id="updateWeightMissCol" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            <trim prefix="set" suffixOverrides=",">
                weight=#{item.weight},
                creator_id = #{item.creator_id},
                is_empty = #{item.is_empty},
                create_time = now(),
                updater_id = #{item.updater_id},
                update_time = now(),
                year = #{item.year},
                status = 2
            </trim>
            WHERE student_id = #{item.student_id}
        </foreach>
    </update>

    <update id="updatePower_firstMissCol" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            <trim prefix="set" suffixOverrides=",">
                power_first=#{item.power_first},
                creator_id = #{item.creator_id},
                is_empty = #{item.is_empty},
                create_time = now(),
                updater_id = #{item.updater_id},
                update_time = now(),
                year = #{item.year},
                status = 2
            </trim>
            WHERE student_id = #{item.student_id}
        </foreach>
    </update>

    <update id="updatePower_secondMissCol" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            <trim prefix="set" suffixOverrides=",">
                power_second=#{item.power_second},
                creator_id = #{item.creator_id},
                is_empty = #{item.is_empty},
                create_time = now(),
                updater_id = #{item.updater_id},
                update_time = now(),
                year = #{item.year},
                status = 2
            </trim>
            WHERE student_id = #{item.student_id}
        </foreach>
    </update>

    <update id="updateLeft_eyeMissCol" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            <trim prefix="set" suffixOverrides=",">
                left_eye=#{item.left_eye},
                creator_id = #{item.creator_id},
                is_empty = #{item.is_empty},
                create_time = now(),
                updater_id = #{item.updater_id},
                update_time = now(),
                year = #{item.year},
                status = 2
            </trim>
            WHERE student_id = #{item.student_id}
        </foreach>
    </update>

    <update id="updateRight_eyeMissCol" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            <trim prefix="set" suffixOverrides=",">
                right_eye=#{item.right_eye},
                creator_id = #{item.creator_id},
                is_empty = #{item.is_empty},
                create_time = now(),
                updater_id = #{item.updater_id},
                update_time = now(),
                year = #{item.year},
                status = 2
            </trim>
            WHERE student_id = #{item.student_id}
        </foreach>
    </update>

    <update id="updateBreath_firstMissCol" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            <trim prefix="set" suffixOverrides=",">
                breath_first=#{item.breath_first},
                creator_id = #{item.creator_id},
                is_empty = #{item.is_empty},
                create_time = now(),
                updater_id = #{item.updater_id},
                update_time = now(),
                year = #{item.year},
                status = 2
            </trim>
            WHERE student_id = #{item.student_id}
        </foreach>
    </update>

    <update id="updateBreath_secondMissCol" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            <trim prefix="set" suffixOverrides=",">
                breath_second=#{item.breath_second},
                creator_id = #{item.creator_id},
                is_empty = #{item.is_empty},
                create_time = now(),
                updater_id = #{item.updater_id},
                update_time = now(),
                year = #{item.year},
                status = 2
            </trim>
            WHERE student_id = #{item.student_id}
        </foreach>
    </update>

    <update id="updateFifty_meterMissCol" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            <trim prefix="set" suffixOverrides=",">
                fifty_meter=#{item.fifty_meter},
                creator_id = #{item.creator_id},
                is_empty = #{item.is_empty},
                create_time = now(),
                updater_id = #{item.updater_id},
                update_time = now(),
                year = #{item.year},
                status = 2
            </trim>
            WHERE student_id = #{item.student_id}
        </foreach>
    </update>

    <update id="updateJump_firstMissCol" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            <trim prefix="set" suffixOverrides=",">
                jump_first=#{item.jump_first},
                creator_id = #{item.creator_id},
                is_empty = #{item.is_empty},
                create_time = now(),
                updater_id = #{item.updater_id},
                update_time = now(),
                year = #{item.year},
                status = 2
            </trim>
            WHERE student_id = #{item.student_id}
        </foreach>
    </update>

    <update id="updateJump_secondMissCol" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            <trim prefix="set" suffixOverrides=",">
                jump_second=#{item.jump_second},
                creator_id = #{item.creator_id},
                is_empty = #{item.is_empty},
                create_time = now(),
                updater_id = #{item.updater_id},
                update_time = now(),
                year = #{item.year},
                status = 2
            </trim>
            WHERE student_id = #{item.student_id}
        </foreach>
    </update>

    <update id="updateJump_thirdMissCol" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            <trim prefix="set" suffixOverrides=",">
                jump_third=#{item.jump_third},
                creator_id = #{item.creator_id},
                is_empty = #{item.is_empty},
                create_time = now(),
                updater_id = #{item.updater_id},
                update_time = now(),
                year = #{item.year},
                status = 2
            </trim>
            WHERE student_id = #{item.student_id}
        </foreach>
    </update>

    <update id="updateFifth_meterMissCol" parameterType="com.ly.edu.dto.SportResultDTO">
        <foreach collection="list" item = "item" index = "index" open="" close="" separator=";">
            UPDATE t_sport_result
            <trim prefix="set" suffixOverrides=",">
                fifth_meter=#{item.fifth_meter},
                creator_id = #{item.creator_id},
                is_empty = #{item.is_empty},
                create_time = now(),
                updater_id = #{item.updater_id},
                update_time = now(),
                year = #{item.year},
                status = 2
            </trim>
            WHERE student_id = #{item.student_id}
        </foreach>
    </update>

</mapper>