<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.edu.mapper.SysRoleMapper" >
  <resultMap id="BaseResultMap" type="com.ly.edu.domain.SysRole" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="en_name" property="enName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="forbidden" property="forbidden" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List_ForUserRole" >
    r.id, r.role_name, r.en_name, r.create_time, r.type, r.forbidden
  </sql>

  <!-- 获取登录用户角色信息 -->
  <select id="getUserRoleInfo" parameterType="map" resultMap="BaseResultMap">
      SELECT
          <include refid="Base_Column_List_ForUserRole"/>
      FROM
          sys_role r,
          sys_user u,
          sys_user_role ur
      WHERE
          u.id = ur.user_id
      AND ur.role_id = r.id
      AND u.login_name = #{loginName}
  </select>
</mapper>